@layer base {
  * {
    scrollbar-width: thin !important;
    scrollbar-color: rgb(156, 163, 175) rgb(249, 250, 251) !important;
  }

  *::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }

  *::-webkit-scrollbar-track {
    background-color: rgb(249, 250, 251) !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(156, 163, 175) !important;
    border-radius: 0.25rem !important;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(107, 114, 128) !important;
  }
}

@layer utilities {
  .dark-scrollbars-compat {
    scrollbar-color: rgb(71, 85, 105) rgb(30, 41, 59);
  }

  .dark-scrollbars::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }

  .dark-scrollbars::-webkit-scrollbar-thumb {
    @apply bg-slate-600;
  }

  .dark-scrollbars::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }
}
